.blog-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.blog-body{
  padding: 4px;
}

.blog-comments{
}

/*
MINE
*/
h3.titles{
  background:url(../images/logo.png) left top no-repeat;
  margin:1px;
  padding:0px 0 0 70px;
  font-size:30px;
}
.textareaBIG{
  width:100%
}
p.author{
  text-indent:90px;
  
}
table.all{
width:60%
}

table,th, td{ 
  font-family:garuda; 
}
tr.posted{
  background-color:#E0115F;
}
tr.draft{
  background-color:#B7410E;
}

td{ text-indent:15px; }
td.reverse{ text-align:right}
td.comment { color:midnightblue; border:1px solid white; background-color:powderblue;width:100%}

.email {text-decoration:underline; }

.mceLayout, .defaultSimpleSkin{
width:100% !important;
}

/*sidebar header*/
.log{
  color:white;
  border:.5px solid blue;
  background-color:royalblue;
}

/*labels and list*/
.Labels { 
  color:skyblue; 
  text-decoration:bold; 
  text-align:right;
}
.nobullets{
margin:0 0 0 15px;
list-style:none;
}

/*
  errors
*/
.fieldWithErrors input, .fieldWithErrors textarea{
  background-color:#E52B50;
}
#errorExplanation{
  background-color:#E52B50;
  text-indent:15px;
}
