<h3 class="titles">List of all authors</h3>
<br />
<table class="all">
  <% @authors.each do |author| %>
    <table>
      <%= author_info(author) %>
      <%= author_articles(author) %>

      <% if author == current_author %>
        <%= author_actions(author, "edit") %>
      <% end %>

    <tr><td colspan=2><hr /></td></tr>
    <br />
  </table>
  <% end %>

</table>

<%=  link_to "create new author", new_author_path %>
