<h1>Create new Author</h1>

<% form_for(@author) do |f|%>
<%=f.error_messages%>
  <%= render :partial => "form", :locals =>{:f => f} %>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
#<%= link_to "Cancel", authors_path%>
